/*Mexendo com o dom*/
*{
    margin: 0;
}
main{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    position: relative;
    top: 23px;
    margin-left: 250px;
}

/*Mexendo com os IDs*/
#nameUser{
    display: flex;
    justify-content: end;
    background-color: rgba(0, 204, 82, 1);
    margin-left: 12%;
    border-radius: 10px 0px 0px 10px;
}
#nameUser>h1{
    font-size: 1.5rem;
    position: relative; 
    right: 10%;
    
}
#menu{
    width: 10%;
    float: left;
    background-color: rgba(24, 172, 0, 0.59);
    height: 713px;
    border-radius: 4px 10px 10px 4px;
}
#financas{
    position: relative;
    height: 250px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 12px;   
}
#despesas{
    width: 81%;
    height: 250px;
    position: relative;
    top: 10px;
    padding: 12px;
}
#limites{
    width: 81%;
    height: 300px;
    position: relative;
    top: 50px;
    padding: 12px;
    
}
#limites>button{
    position: relative;
    left: 9%;

}
#rendas{
    width: 81%;
    height: 250px;
    position: relative;
    top: 50px;
    padding: 12px;
}
#rendas>button{
    position: relative;
    top: 71%;
    left: 81%;
}
#suasfontes{
    width: 81%;
    position: relative;
    height: 250px;
    top: 50px;
    padding: 12px;
}
#suasfontes>button{
    position: relative;
    top: 58%;
    left: 81%;
}
#barradeprogresso{
    width: 80%;
    position: relative;
    left: 29px;
}
#modalLimites{
       background-color: pink;
    width: 35%;
    /* height: 170px; */
    position: relative;
    padding: 12px;
    /* top: 389px; */
    z-index: 1;

}
#btnAddDespesas{
    width: 30px;
    height: 30px;
}
#btnEditar{
    width: 30px;
    height: 30px;
}
/*mexendo com class*/
.campos{
    background-color: rgba(24, 172, 0, 0.59);
    border-radius: 10px 10px 10px 10px;
}
.ocultarElemento{
    visibility: hidden;
}
.mostrarElemento{
    visibility: visible;
}