/*Mexendo com o dom*/
*{
    margin: 0;
}
main{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    position: relative;
    top: 23px;
    margin-left: 250px;
}

/*Mexendo com os IDs*/
#nameUser{
    display: flex;
    justify-content: end;
    background-color: aqua;
    margin-left: 12%;
}
#nameUser>h1{
    font-size: 1.5rem;
    position: relative; 
    right: 10%;
    
}
#menu{
    width: 10%;
    float: left;
    background-color: rgb(81, 141, 81);
    height: 713px;
}
#financas{
   
    background-color: aquamarine;
    position: relative;
    height: 250px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 12px;
    
}
#despesas{
    background-color: aquamarine;
    width: 81%;
    height: 250px;
    position: relative;
    top: 10px;
    padding: 12px;
}
#limites{
    background-color: aquamarine;
    width: 81%;
    height: 250px;
    position: relative;
    top: 50px;
    padding: 12px;
    
}
#limites>button{
    position: relative;
    left: 9%;

}
#rendas{
    background-color: aquamarine;
    width: 81%;
    height: 250px;
    position: relative;
    top: 50px;
    padding: 12px;
}
#rendas>button{
    position: relative;
    top: 71%;
    left: 81%;
}
#suasfontes{
    background-color:aquamarine;
    width: 81%;
    position: relative;
    height: 250px;
    top: 50px;
    padding: 12px;
}
#suasfontes>button{
    position: relative;
    top: 58%;
    left: 81%;
}
#barradeprogresso{
    width: 80%;
    position: relative;
    left: 29px;
}
#modalLimites{
       background-color: pink;
    width: 35%;
    /* height: 170px; */
    position: relative;
    padding: 12px;
    /* top: 389px; */
    z-index: 1;

}
/*mexendo com class*/