/*Mexendo com o dom*/
@font-face {
    font-family:'roboto';
    src: url(fontes/Roboto-Regular.ttf);
}
*{
    margin: 0;
}
main{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    position: relative;
    top: 23px;
    margin-left: 250px;
    font-family: 'roboto','Arial';
}
#corpo{
    background-color:rgba(29, 30, 44, 1);
    /*overflow: hidden;*/  
}

/*Mexendo com os IDs*/
#nameUser{
    display: flex;
    justify-content: end;
    margin-left: 16%;
    border-radius: 10px 0px 0px 10px;
    background: rgba(36, 38, 58, 1);
    color: #fff;
    box-shadow:  1px 1px 1px 1px #000;
}
#financas{
    display: flex;
    justify-content: center;
    position: relative;
    height: 45px;
    padding: 10px;
    width: 315%;
    left: -9%;
}
#Data{
    position: relative;
    top: 12%;
    height: 440px;
    padding: 12px; 
    width: 70%;
    justify-content: center;
    left: -110%;
}
#Tipo{
    position: relative;
    top: 12%;
    height: 440px;
    padding: 12px; 
    width: 70%;
    justify-content: center;
    left: -128%;
}
#Descrição{
   position: relative;
   top: -87%;
   height: 438px;
   padding: 12px;
   width: 70%;
   justify-content: center;
    left: 155%;
}
#Valor{  
    position: relative;
    top: -87%;
    height: 446px;
    padding: 12px;
    width: 70%;
    justify-content: center;
    left: 137%; 
}
#SaldoAtual{
    text-align: center;
    position: relative;
    top: 11vh;
    height: 36px;
    padding: 5px;
    width:70%;
    left: 37%; 
}

/*TEXTO TITULO*/ 
#despesas>h3{
    text-align: center;
    position: relative;
}
/*mexendo com class*/
.campos{
    background: rgba(36, 38, 58, 1);
    border-radius: 10px 10px 10px 10px;
    color: #fff;
    box-shadow:  1px 1px 1px 1px #000;
}
.estiloInputs{
    position: relative;
    margin: 0 auto;
    border-top: none;
    border-right: none;
    border-bottom-color: #fff;
    border-left-color:#fff ;
    background-color: transparent;
    color: #fff;
    bottom: 1%;
}
.estiloBotao{
    border-color: #fff;
    border-radius: 10px 10px 10px 10px;
    text-shadow: none;
    color: aliceblue;
    background: rgba(36, 38, 58, 1);
}
#campoData{
    position: absolute;
    width: 205px;
    height: 25px;
    border-top: none;
    border-right: none;
    color: #fff;
    background-color: rgb(39, 42, 73);
}
#campoTipo{
    position: absolute;
    top: 93%;
    width: 205px;
    height: 25px;
    border-top: none;
    border-right: none;
    color: #fff;
    background-color: rgb(39, 42, 73);
}
#campoDescricao{
    position: absolute;
}
#campoValor{
    position: absolute;
}
#adicionar{
    position: absolute;
    top: 91vh;
    left: 57%;
    width: 222px;
    height: 38px;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
    background-color: rgba(36, 38, 58, 1);
}

/*Estilo do menu*/
#caminhosMenu{
    position: relative;
    top: -38px;
    right: 10%;
    padding: 11px;
}
#teste{
    height: 100vh;
}
#nameUser>h1{
    font-size: 1.5rem;
    position: relative; 
    right: 10%;
}
#nameUser>h2{
    font-size:revert;
    position: relative;
    top:10px;
}
.menu{
    width: 10%;
    float: left;
    background: rgba(36, 38, 58, 1);
    height: 713px;
    border-radius: 4px 10px 10px 4px;
    box-shadow:  1px 1px 1px 1px #000;
}

.menu>ul>li>a{
    color: #fff;
}
#logo{
    position: relative;
    width: 32px;
    height: 26px;
    top: -331px;
    left: 133%;
}
.imgsMenu{
    width: 40px;
    height:40px;
    left: 50%;
    position: relative;
}
.imgMenuCell{
    width: 30px;
    height: 30px;
    position: relative;
    right: 90vw;
    top: 7px;
    visibility: hidden;
}
.elementoMenu:hover img{
    /*Onde faz a imagem sumir*/
    visibility: hidden;
}
.textoInicio{
    color: #fff;
    position: relative;
    top:64px;
    left: 50%;
    visibility:hidden;
}
.elementoMenu:hover .textoInicio{
    /*Onde faz o texto aparecer*/
    visibility: visible;
}
.textoDespesas{
    color: #fff;
    position: relative;
    top: 50px;
    left: 30px;
    visibility: hidden;
}
.elementoMenu:hover .textoDespesas{
    visibility: visible;
}
.textoExtrato{
    color: #fff;
    position: relative;
    top: 50px;
    left: 30px;
    visibility: hidden;
}
.elementoMenu:hover .textoExtrato{
    visibility: visible;
}
.textoSimulacao{
    color: #fff;
    position: relative;
    top: 50px;
    left: 30px;
    visibility: hidden;
}
.elementoMenu:hover .textoSimulacao{
    visibility: visible;
}
.textoNoticias{
    color: #fff;
    position: relative;
    top: 50px;
    left: 30px;
    visibility: hidden;
}
.elementoMenu:hover .textoNoticias{
    visibility: visible;
}
.textoSobre{
    color: #fff;
    position: relative;
    top: 50px;
    left: 30px;
    visibility: hidden;
}
.elementoMenu:hover #textoSobre{
    visibility: visible;
}
.visibilidadeMenuCell{
    visibility:visible;
    width: 80vw;
    float: left;
    background: rgba(36, 38, 58, 1);
    height: 100vh;
    border-radius: 4px 10px 10px 4px;
    box-shadow:  1px 1px 1px 1px #000;
    z-index: 1;
    transition-duration: 0.8s;
    transition-delay: 0.1s;
}
#desenhodografico{
 width: 20%;
 justify-content: space-around;
 flex-direction: row;
 left: 50%;
 position: relative;
 bottom: 110%;
 
}
canvas{
    position: relative;
}
.textoMenucelular{
    visibility: visible;
    position: relative;
    left: 22vw;
    top: 7vh;
    color: #fff;
    transition-duration: 0.8s;
    transition-delay: 0.1s;
}
#legendaSaude{
    background-color: #D4CD08; 
    position: relative; 
    top: -25px; 
    width: 2vw; 
    left: 3.5vw; 
    height: 1vh;
}
#legendaEducacao{
    background-color: #11BD2E;
    position: relative;
    top: -25px;
    width: 2vw;
    left: 5vw;
    height: 1vh;
}
#legendaLazer{
    background-color: #089AC7; 
    position: relative; 
    top: -25px; 
    width: 2vw; 
    left: 3.5vw; 
    height: 1vh
}
#legendaOutros{
    background-color:#9116D1; 
    position: relative; 
    top: -25px; 
    width: 2vw; 
    left: 3.5vw; 
    height: 1vh
}
/*Parte da responsividade*/
@media only screen and (min-width: 900px) and (max-width:1800px){
    .menu{
        height: 100vh;
    }
    #logo{
    position: relative;
    width: 32px;
    height: 26px;
    top: 10px;
    left: 53%;
}

}
@media only screen and (width:820px){
    .menu{
        height: 100vh;
        visibility:hidden;
        transition-duration: 0.1s;
        transition-delay: 0.1s;
    }
    main{
        position: relative;
        right: 12em;
        top: 10vh;
     }
     #caminhosMenu{
        right: 20vw;
        top: 7vh;
     }
     #logo{
        width: 50px;
        height: 50px;
        top: -69vw;
        left: 57%;
        visibility: visible;
     }
     #financas{
        width: 89vw;
     }
     #caminhosMenus>a{
        visibility: hidden;
    }
    .imgMenuCell{
        visibility: visible;
        z-index: 1;
        width: 50px;
        height: 50px;
        position: relative;
        right: 93vw;
        top: 7px;
    }
    .menuCell{
        width: 30vw;
    }
    #limites{
        width: 40vw;
    }
    #rendas{
        left: 22vw;
        width: 46vw;   
    }
    .posicaoLegenda{
        left: 815vw;
    }
    #desenhodografico {
        width: 30%;
        justify-content: space-around;
        flex-direction: row;
        left: 50%;
        position: relative;
        bottom: 23vh;
    }
    .textoMenucelular{
        left: 13vw;
        top: 5vh;
    }
} 
/*Responsividade Celular IPHONE 12 PRO - Conteiner, etc*/
@media only screen and (min-width: 320px) and (max-width:480px){
    .menu{
        height: 100vh;
        visibility:hidden;
        transition-duration: 0.1s;
        transition-delay: 0.1s;
    }
    main{
        left: -2vh;
    }
    #caminhosMenu{
        right: -6vw;
        top: -6vh;
    }
    #caminhosMenus>a{
        visibility: hidden;

     }
    .imgMenuCell{
         visibility: visible;
         z-index: 1;
     }
    #nameUser{
        display: flex;
        margin-left: 12%;
        height: 45px;
        padding: 0px;
    }
    
    #financas{
        left: -46vw;
        width: 82vw;
    }
   
    #Data {
        position: relative;
        top: 23%;
        height: 265px;
        padding: 13px;
        width:37vh;
        justify-content: center;
        left: -26vh;
            
    }
    #Tipo{
        position: relative;
        top: 129%;
        height: 265px;
        padding: 13px;
        width:37vh;
        justify-content: center;
        left: -31vh;

    }
    #Descrição{
        position: relative;
        top: 134%;
        height: 265px;
        padding: 12px;
        width: 37vh;
        justify-content: center;
        left: -21vh;
    }
    #Valor{  
        position: relative;
        top: 240%;
        height: 265px;
        padding: 12px;
        width: 37vh;
        justify-content: center;
        left: -26vh; 
    }
    #SaldoAtual{
        text-align: center;
        position: absolute;
        top: 140vh;
        height: 41px;
        padding: 8px;
        width: 37vh;
        left: -21vh; 
    }
    #adicionar{
        position: absolute;
        top: 154vh;
        left: 14%;
        width: 37vh;
        height: 40px;
    }


     /*Responsividade Celular IPHONE 12 PRO - Imput*/
    #campoData{
        position: absolute;
        width: 265px;
        height: 31px;
        top: 83%;

    }
    #campoTipo{
        position: absolute;
        width: 265px;
        height: 31px;
        top: 83%;
      
    }
    #campoDescricao{
        position: absolute;
        width: 265px;
        height: 31px;
        top: 83%;
    }
    #campoValor{
        position: absolute;
        width: 265px;
        height: 31px;
        top: 83%;
    }
}
 /*Parte da responsividade*/
/*ipad Air*/
@media only screen and (min-width: 481px) and (max-width:850px){
    
    .menu{
        height: 100vh;
        visibility:hidden;
        transition-duration: 0.1s;
        transition-delay: 0.1s;
    }
    main{
        left: -2vh;
    }
    #caminhosMenu{
        right: -6vw;
        top: -6vh;
    }
    #caminhosMenus>a{
        visibility: hidden;

    }
    .imgMenuCell{
        visibility: visible;
        z-index: 1;
    }
    #nameUser{
        display: flex;
        margin-left: 12%;
    }

    #financas{
        left: -20vw;
        width: 89vw;
        top: -9vh;
        height: 8%;
    }

    #Data {
        position: relative;
        top: -5%;
        height: 700px;
        padding: 10px;
        width: 100%;
        left: -196%;       
    }

    #Tipo{
        position: relative;
        top: -5%;
        height: 700px;
        padding: 12px;
        width: 100%;
        left: -185%;
    }
    #Descrição {
        position: relative;
        top: -105%;
        height: 700px;
        padding: 12px;
        width: 100%;;
        left: 124%;
    }
    #Valor {
        position: relative;
        top: -105%;
        height: 700px;
        padding: 12px;
        width: 100%;
        left: 133%;
    }
    #SaldoAtual{
        position: absolute;
        top: 60vh;
        height: 49px;
        padding: 11px;
        width: 54vh;
        left: -10vh;
    }
    #adicionar{
        position: absolute;
        top: 81vh;
        left: 13%;
        width: 54vh;
        height: 51px;
    }


     /*Responsividade tablet ipad Air - Imput*/
    #campoData{
        position: absolute;
        width: 143px;
        height: 31px;
        top: 93%;

    }
    #campoTipo{
        position: absolute;
        width: 143px;
        height: 31px;
        top: 93%;
      
    }
    #campoDescricao{
        position: absolute;
        width: 157px;
        height: 31px;
        top: 93%;
        left: 4%;
    }
    #campoValor{
        position: absolute;
        width: 143px;
        height: 31px;
        top: 93%;
    }
}

 /*Parte da responsividade*/
/*PC*/
@media only screen and (min-width: 851px) and (max-width:1900px){

    #corpo{
        background-color:rgba(29, 30, 44, 1);
        overflow: hidden;  
    }
    #SaldoAtual{
        top: 9vh;
        height: 45px;
        padding: 10px;
        width: 70%;
        left: 37%;
    }
    #adicionar{
        position: absolute;
        top: 66vh;
        height: 44px;
        width: 38vh;
        left: 54%;

    }
}

