html{
  scroll-behavior: smooth;
  display: flex;
}

#login{
    justify-content: end;
    margin-left: 1520px;
}

/*Efeito das imagens*/
.efeitoimg{
    max-width:100%;
    height:auto;
    position: relative;
    filter: blur(2px);
}


#noticia{
  background-image: url(../imgsite/Background\ Noticia.jpg);
  background-size: cover;
}

/*Ajustando texto Inicial*/
#cashgrab {
    position: absolute; 
    font-size: calc(1em + 3vw);
    font-weight: bold;
    left: 185px;
    top: 15%;
    color:aliceblue;
    text-shadow: 0.1em 0.1em 0.1em #303030;
  } 
  #subtext{
    position: absolute;
    font-size: calc(1em + 2vw);
    top: 15%;
    left: 105px;
    font-weight: bold;
    color:aliceblue;
    text-shadow: 0.2em 0.2em 0.2em #303030;
  }
  #deschome{
    position: absolute;
    color: aliceblue;
    font-size: calc(1em + 1vw);
    font-weight: bold;
    top: 45%;
    right: 30px;
    text-shadow: 0.2em 0.2em 0.2em #303030;
  }

/*Ajustando texto Noticia*/
#textonot {
    font-size: calc(3em + 3vw);
    font-weight: bold;
    text-align: end;
    padding: 20px;
    color:aliceblue;
    text-shadow: 0.1em 0.1em 0.1em #303030;
  }
#descnot{
    color: aliceblue;
    font-size: calc(1em + 1vw);
    font-weight: bold;
    left: 30px;
    top: 200%;
    text-shadow: 0.2em 0.2em 0.2em #303030;
}
#portais{
  color: aliceblue;
  font-weight: lighter;
  font-size: calc(0.5em + 1vw);
  text-shadow: 0.1em 0.1em 0.1em rgb(0, 0, 0);
}

#img_not{
  display: flex;
  flex-direction: column;
  padding-top: 850px;
  padding-bottom: 100px;
  padding-left: 44vw;
}

.img_config{
  gap: 30px;
  display: flex;
}
.img_config::before{
  gap: -100px;
}

.img_inf{
  max-width: 150px;
}

  /*Ajustando parte Informações*/
#informacao{
    background-color: rgba(36, 38, 58, 1);
    height: 900px;
    flex-direction: row;
    display: flex;
}

.puc{
    max-width:300px;
    height: auto;
    border-radius: 30px;
}

#inf{
    width: 500px;
}

#textoinf {
    font-size: calc(1.5em + 3vw);
    font-weight: bold;
    right: 250px;
    top: 180%;
    color:aliceblue;
    text-shadow: 0.1em 0.1em 0.1em #494848;
}
#descinfo{
    font-size: calc(0.5em + 0.5vw);
    text-align: center;
    font-weight: bold;
    color:aliceblue;
    text-shadow: 0.1em 0.1em 0.1em #494848;
}

.sugest_text{
  font-size: calc(0.5em + 0.5vw);
  color:aliceblue;
}

#sugest{
    
    color: aliceblue;
    width: 500px;
    left: 1250px;
    top: 300%;
}
