#login{
    display: flex;
    justify-content: end;
    margin-left: 1000px;
}

/*Efeito das imagens*/
.efeitoimg{
    max-width:100%;
    height:auto;
    position: relative;
    filter: blur(2px);
}

/*Ajustando texto Inicial*/
.container{
  display: flex;
}

#cashgrab {
    position: absolute; 
    font-size: calc(1em + 3vw);
    font-weight: bold;
    left: 185px;
    top: 15%;
    color:aliceblue;
    text-shadow: 0.1em 0.1em 0.1em #303030;
  } 
  #subtext{
    position: absolute;
    font-size: calc(1em + 2vw);
    top: 15%;
    left: 105px;
    font-weight: bold;
    color:aliceblue;
    text-shadow: 0.2em 0.2em 0.2em #303030;
  }
  #deschome{
    position: absolute;
    color: aliceblue;
    font-size: calc(1em + 1vw);
    font-weight: bold;
    top: 45%;
    right: 30px;
    text-shadow: 0.2em 0.2em 0.2em #303030;
  }

/*Ajustando texto Noticia*/
#textonot {
    position: absolute;
    font-size: calc(3em + 3vw);
    font-weight: bold;
    right: 100px;
    top: 160%;
    color:aliceblue;
    text-shadow: 0.1em 0.1em 0.1em #303030;
  }
  #descnot{
    position: absolute;
    color: aliceblue;
    font-size: calc(1em + 1vw);
    font-weight: bold;
    top: 180%;
    left: 30px;
    text-shadow: 0.2em 0.2em 0.2em #303030;
  }
  #infor{
    position: absolute;
    color: aliceblue;
    font-weight: lighter;
    font-size: calc(0.5em + 1vw);
    left: 599px;
    top: 220%;
    text-shadow: 0.2em 0.2em 0.2em #303030;
  }

  /*Ajustando parte Informações*/
  #informacao{
    background-color: rgba(36, 38, 58, 1);
    height: 820px;
  }

  #textoinf {
    font-size: calc(1.5em + 3vw);
    font-weight: bold;
    right: 250px;
    top: 180%;
    color:aliceblue;
    text-shadow: 0.1em 0.1em 0.1em #494848;
  }
  #descinfo{
    font-size: calc(0.5em + 0.5vw);
    text-align: center;
    font-weight: bold;
    color:aliceblue;
    text-shadow: 0.1em 0.1em 0.1em #494848;
  }
  
  .labelsugest{
    color: aliceblue;
  }
