#login{
    display: flex;
    justify-content: end;
    margin-left: 1000px;
}

/*Efeito das imagens*/
.efeitoimg{
    width: 1500px;
    height: 200px;
    -moz-box-shadow: inset 10px 10px 50px #070707;
    -webkit-box-shadow: inset 10px 10px 50px #070707;
    box-shadow: inset 10px 10px 50px #070707;
    position: relative;
    filter: blur(2px);
}

/*Ajustando texto na imagem Inicial*/
#cashgrab {
    position: absolute;
    font-size: 110px;
    font-weight: bold;
    left: 60px;
    top: 15%;
    color:aliceblue;
    text-shadow: 0.1em 0.1em 0.1em #303030;
  } 
  .subtext{
    position: absolute;
    font-size: 45px;
    top: 23%;
    left: 105px;
    font-weight: bold;
    color:aliceblue;
    text-shadow: 0.2em 0.2em 0.2em #303030;
  }

/*Ajustando texto na imagem Noticia*/
#textonot {
    position: absolute;
    font-size: 110px;
    font-weight: bold;
    right: 100px;
    top: 150%;
    color:aliceblue;
    text-shadow: 0.1em 0.1em 0.1em #303030;
  }

  /*Ajustando texto parte Inferior*/
  #textoinf {
    font-size: 110px;
    font-weight: bold;
    left: 250px;
    top: 180%;
    color:aliceblue;
    text-shadow: 0.1em 0.1em 0.1em #303030;
  }
