/*Mexendo com o dom*/
*{
    margin: 0;
}

main{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    position: relative;
    top: 23px;
    margin-left: 250px;
    color:#fff
}
#corpo{
    background-color:rgba(29, 30, 44, 1);
}
/*Mexendo com os IDs*/
#nameUser{
    display: flex;
    justify-content: end;
    margin-left: 12%;
    border-radius: 10px 0px 0px 10px;
    background: rgba(36, 38, 58, 1);
    color: #fff;
}
#nameUser>h1{
    font-size: 1.5rem;
    position: relative; 
    right: 10%;
    
}
#menu{
    width: 10%;
    float: left;
    background: rgba(36, 38, 58, 1);
    height: 713px;
    border-radius: 4px 10px 10px 4px;
}
#caminhosMenu{
    position: relative;
    top:-5%;
    right: 30%;
}
#menu>ul>li>a{
    color: #fff;
}
#logo{
    position: relative;
    width: 80px;
    height: 80px;
    top:-45%;
    left: 20%;
}